<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


	<title>SAVE STUDENT</title>
</head>

<body>

	<div class="container">
	
		<h3>STUDENT COURSE PORTAL</h3>
		<hr>
		
		<p class="h4 mb-4">SAVE STUDENT</p>
	
		<form action="#" th:action="@{/students/save}"
						 th:object="${student}" method="POST">
		
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />

			<div class="form-inline">
				<input type="text" th:field="*{firstName}"
					   class="form-control mb-4 col-4" placeholder="First name">
				<div class="alert alert-warning" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
			</div>

			<div class="form-inline">
				<input type="text" th:field="*{lastName}"
					   class="form-control mb-4 col-4" placeholder="Last name">
				<div class="alert alert-warning" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
			</div>

			<div class="form-inline">
				<input type="text" th:field="*{email}"
					   class="form-control mb-4 col-4" placeholder="Email">
				<div class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
			</div>


            <br/>
			<label class="col-form-label col-sm-4">COURSES: </label>

			<div class="col-sm-8 text-left">
				<th:block th:each="course : ${courses}">
					<div>
						<input type="checkbox" th:field="*{courses}" th:text="${course.title}"
						th:value="${course.id}" class="m-2"/>
					</div>
				</th:block>
			</div>

			<button type="submit" class="btn btn-info col-2">SAVE</button>
						
		</form>
	
		<hr>
		<a th:href="@{/students/list}" class="btn btn-primary btn-sm mr-5 mb-3">Back to STUDENT LIST</a>
		
	</div>
</body>

</html>










